<body background="themes/sample/img/image1.jpeg" style="color:white;">
    <div class="">
    <nav class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"><img src="themes/sample/img/ffitness.jpeg" style="height: 20px;width:20px;"></a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse fontcss">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.php">Home</a></li>
                <li><a href="mysite/galleryone.php">Gallery</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Fitness <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="mysite/gymone.php">Gym</a></li>
                        <li><a href="#">Swimming</a></li>
                        <li><a href="#">Dance</a></li>
                        <li><a href="#">BadMinton</a></li>
                        <li class="divider"></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
            <li><a href="mysite/insert.php">Register</a></li>
                <li><a href="mysite/loginform.php">Login</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </nav>
</div>
<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="themes/sample/img/bb1.jpg" alt="First Slide">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="themes/sample/img/bb3.jpg" alt="second Slide">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="themes/sample/img/bb1.jpg" alt="third Slide">
  </div>
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="themes/sample/img/bb3.jpg" alt="fourth Slide">
  </div>
  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="themes/sample/img/bb1.jpg" alt="fifth Slide">
  </div>
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="themes/sample/img/bb3.jpg" alt="sixth Slide">
  </div>
    
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="img_woods.jpg" style="width:100%" onclick="currentSlide(1)">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_fjords.jpg" style="width:100%" onclick="currentSlide(2)">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_mountains.jpg" style="width:100%" onclick="currentSlide(3)">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_lights.jpg" style="width:100%" onclick="currentSlide(4)">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_nature.jpg" style="width:100%" onclick="currentSlide(5)">
    </div>    
    <div class="column">
      <img class="demo cursor" src="img_snow.jpg" style="width:100%" onclick="currentSlide(6)">
    </div>
  </div>
</div>

<div class="bs-example" style="">
    <div class="panel panel-default col-md-3" style="color:white!important;font-size:16px; margin: 3.5%;background-image: url(themes/sample/img/bb3.jpg);border: 3px solid grey;">
        <div class="panel-body">When a person walks into a YouFit Health Club, the first noticeable quality that differs it from any other gym is the outlandish coloring of the place. Neon greens and vibrant purples of bold shades are visible at every angle of the gym. People who currently or wish to lead active lifestyles step into a room where the assumption could easily be made that Barney the Dinosaur was turned into a can of paint and splashed haphazardly onto the walls and equipment. Despite its obnoxious color scheme and small size, the YouFit gym is still a very popular destination for people of all ages and personalities who all desire the same thing they all come to exercise and reach a satisfactory level of fitness. </div>
    </div>
</div>
 <div class="bs-example">
    <div class="panel panel-default col-md-3" style="color:white!important;font-size:16px; margin: 3.5%;background-image: url(themes/sample/img/bb3.jpg);border: 3px solid grey;">
        <div class="panel-body">When a person walks into a YouFit Health Club, the first noticeable quality that differs it from any other gym is the outlandish coloring of the place. Neon greens and vibrant purples of bold shades are visible at every angle of the gym. People who currently or wish to lead active lifestyles step into a room where the assumption could easily be made that Barney the Dinosaur was turned into a can of paint and splashed haphazardly onto the walls and equipment. Despite its obnoxious color scheme and small size, the YouFit gym is still a very popular destination for people of all ages and personalities who all desire the same thing they all come to exercise and reach a satisfactory level of fitness.</div>
    </div>
</div>
 <div class="bs-example">
    <div class="panel panel-default col-md-3" style="color:white!important;font-size:16px; margin: 3.5%;background-image: url(themes/sample/img/bb3.jpg);border: 3px solid grey;">
        <div class="panel-body">When a person walks into a YouFit Health Club, the first noticeable quality that differs it from any other gym is the outlandish coloring of the place. Neon greens and vibrant purples of bold shades are visible at every angle of the gym. People who currently or wish to lead active lifestyles step into a room where the assumption could easily be made that Barney the Dinosaur was turned into a can of paint and splashed haphazardly onto the walls and equipment. Despite its obnoxious color scheme and small size, the YouFit gym is still a very popular destination for people of all ages and personalities who all desire the same thing they all come to exercise and reach a satisfactory level of fitness.</div>
    </div>
</div>  
</body>                         