/**
 * @file
 * This file that creates the CSS for the header region.
 */

.path-frontpage .header {
  @include breakpoint($medium) {
    height: calc(75vh - 35px); // 75% less height of primary menu, to make it 75% in total.
  }
}

.header {
  @include breakpoint($medium) {
    height: 165px;
    position: relative;
  }
}

.header .block-system-branding-block {
  bottom: 2rem;
  position: absolute;
  width: 100%;
  @include breakpoint($large) {
    width: 100%;
  }
}
